.button {
  background-color: red;
  padding: 20px;
}

.heading {
  color: blue;
}

.container {
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  height: 100%;
}
